body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 40px;
  height: 40px;
  margin: 1px;
  background-color: #ddd;
  border: 1px solid #666;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-cell.revealed.mine {
  border-color: red;
}
